<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Alianza</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="imagenes/simbolo.PNG">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="css/estilomenu.css">
</head>

<body background="imagenes/fondo.png"></body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">
      <img src="imagenes/logo1.PNG" alt="TechNews Logo" class="nav-brand">
      <ul class="menu">
        <li>
          <a href="/index">Inicio
          </a>
        </li>
        <li>
          <a href="/acercadenosotros">Acerca de nosotros</a>
        </li>
        <li>
          <a href="/necesidades">Necesidades</a>
        </li>
        <li>
          <a href="/productos">Productos y Servicios</a>
        </li>

      </ul>

      <ul class="nav-menu-right">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
    <hr>
    <script> document.write(new Date()) </script>

    <header class="showcase2">
        <h1>Acerca de Nosotros</h1>
      </header>

    <div class="cofre1">
      <img src="imagenes/cofreacercadenosotros.jpg" alt="" >
     <p>El Banco Alianza es una de las empresa creada y orientada en Colombia, única y exclusivamente, para construir cada día una sociedad más justa, solidaria, productiva y en paz, además de tener como fundamento el compromiso y la adopción de una gestión socialmente responsable, a partir de unas funciones que garanticen un mayor bienestar para la sociedad en su conjunto. </p> 
     <br>
    </div>

   
  </div>
  <br>
  
  <footer class="final">
    <h3>Banco Alianza</h3>
    <h5><script> document.write(new Date()) </script><h4></h5>
  </footer> 
</body>

</html>