<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Alianza</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="imagenes/simbolo.PNG">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="css/estilomenu.css">
</head>

<body background="imagenes/fondo.png"></body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">
      <img src="imagenes/logo1.PNG" alt="TechNews Logo" class="nav-brand">
      <ul class="menu">
        <li>
          <a href="/index">Inicio
          </a>
        </li>
        <li>
          <a href="/acercadenosotros">Acerca de nosotros</a>
        </li>
        <li>
          <a href="/necesidades">Necesidades</a>
        </li>
        <li>
          <a href="/productos">Productos y Servicios</a>
        </li>

      </ul>

      <ul class="nav-menu-right">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
    <hr>
    <script> document.write(new Date()) </script>
    
    <header class="showcase3">
      <h1>Necesidades</h1>
    </header>
  
    <div class="cofre2">
      
      <img src="imagenes/cofrenecesidades.png" alt="" >
      <h1 class="sub">Administra tu dinero</h1>
     <p>Banco Alianza como institución de tipo financiero que administra tu dinero depositado por cada uno de los clientes en cuestas bancarias, y manejar tal dinero para diferentes variables de la institución.</p> 
     <br>
    </div>

    <div class="cofre2">
      <img src="imagenes/retiro.jpg" alt="" >
       <h1 class="sub">Retiro Laboral</h1>
    <p>Empieza a ahorrar e invertir para obtener dinero extra que te ayude a complementar tu pensión o planear una anticipada; Además de crear un presupuesto, buscar opciones de inversión. </p> 
    <br>
    </div>

    <div class="cofre2">
      <img src="imagenes/imacred.jpg" alt="" >
       <h1 class="sub">Organiza tus créditos</h1>
    <p>Contáctanos para ayudarte si tienes dificultades para cumplir con los pagos futuros de tus créditos, o estás atrasado en el pago de obligaciones.</p> 
    <br>
    </div>
    
    
  </div>  
<br>
  
  <footer class="final">
    <h3>Banco Alianza</h3>
    <h5><script> document.write(new Date()) </script><h4></h5>
  </footer> 

</body>

</html>