<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Alianza</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="imagenes/simbolo.PNG">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="css/estilomenu.css">
</head>

<body background="imagenes/fondo.png"></body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">
      <img src="imagenes/logo1.PNG" alt="TechNews Logo" class="nav-brand">
      <ul class="menu">
        <li>
          <a href="/index">Inicio
          </a>
        </li>
        <li>
          <a href="/acercadenosotros">Acerca de nosotros</a>
        </li>
        <li>
          <a href="/necesidades">Necesidades</a>
        </li>
        <li>
          <a href="/productos">Productos y Servicios</a>
        </li>
        
      </ul>
      
      



      <ul class="nav-menu-right">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
    <hr>
    <script> document.write(new Date()) </script>
    
    <header class="showcase4">
      <h1>Productos y Servicios</h1>
    </header>

    
    <br>


     

      <div class="container10">

        <ul class="slider10">

          <li id="slide1">
            <img src="imagenes/credito.jpg"/>
          
          <!--<p>La casa o apartamento que quieres está a tu alcance. Opciones que se adaptan a tus necesidades de financiación de vivienda.</p>-->         </li>
          <li id="slide2">
            <h2>Créditos</h2>
            <h4>Créditos para vivienda</h4>
            <h5><p>La casa o apartamento que quieres está a tu alcance. Opciones que se adaptan a tus necesidades de financiación de vivienda.</p>
            <p> Opción es una alternativa financiera por medio de la cual puedes comprar vivienda nueva o usada. El banco te presta un monto de dinero a un plazo y tasa previamente acordado, el cual debe ser devuelto en cuotas mensuales que incluyen abono a capital, intereses y seguros.</p></h5>
          
            <h4>Créditos para negocios</h4>
            <h5><p>Encuentra el apoyo que necesitas sin importar el sector ni el tamaño de tu emprendimiento. </p>
            <p>Permite financiar un emprendimiento o una idea de negocio.Puedes solicitar hasta 120 salarios mínimos.</p>

            <p>Puedes destinar tu crédito para compra de activos y/o capital de trabajo. Si quieres financiar activos fijos, puedes hacerlo en un plazo de hasta 60 meses, si la financiación es de capital de trabajo, el plazo máximo es de 36 meses.</p></h5>

          </li>
          <li id="slide3">
            <h2>Tarjeta débito</h2>
            <h5><p>Es la tarjeta con la que puedes realizar compras en establecimientos comerciales a nivel nacional o internacional de forma rápida y segura.</p>
            <p>Las tarjetas débito se caracterizan porque el dinero se descuenta directamente del saldo que tengas disponible en tu cuenta de ahorros o cuenta corriente.</p></h5>
            <h5><p>También puedes hacer compras por internet, ya que cuentan con el código de seguridad CVV que se encuentra al respaldo de la tarjeta, lo que permite que funcione como una tarjeta de crédito.</p>
            <p>Puedes abrir tu cuenta de ahorros por internet en pocos minutos para tener tu tarjeta débito. El proceso es rápido y seguro.</p></h5>


          </li>
          
          <li id="slide4">
            <h2>Cuentas de Ahorros</h2>
            <h5><p>Una cuenta de ahorros es un producto con el cual puedes administrar tu dinero y disponer de él cuando lo necesites. Cuando abres tu cuenta, recibes una tarjeta débito que es la que te permite hacer compras en establecimientos comerciales o por internet. También te sirve para hacer retiros</p>
            <p>Tenemos diferentes tipos de cuentas de ahorro con beneficios en la cuota de manejo o en retiros, puedes elegir la que más se acomode a tus necesidades.</p></h5>
            <h5><p>También puedes abrir una cuenta de ahorros por internet en pocos minutos. Es fácil, rápido y seguro.</p></h5>



          </li>

          <li id="slide5">
            <h2>Tarjeta de Crédito</h2>
            <h5><p>La tarjeta de crédito es un producto bancario con el que puedes hacer compras a cuotas. Cada vez que adquieres un producto o servicio, eliges el plazo de pago que puede ser de hasta 36 meses.</p>
            <p>Puedes usar tu tarjeta en establecimientos comerciales nacionales, internacionales o para realizar compras y pagos por internet.</p></h5>
            <h5><p>Además, con las tarjetas de crédito puedes hacer avances de dinero en efectivo, es decir, que puedes retirar parcial o totalmente el cupo que tengas aprobado.</p>
            <p>Tenemos diferentes tipos de tarjetas de crédito, dependiendo de la que elijas puedes recibir beneficios como millas, puntos o descuentos en mercado y estaciones de servicio. Pídela por internet en pocos minutos.</p></h5>


          </li>
        </ul>
        
        <ul class="menu10">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
           <li>
            <a href="#slide3"></a>
          </li>
          <li>
            <a href="#slide4"></a>
          </li>
          <li>
            <a href="#slide5"></a>
          </li>
        </ul>
        
      </div>

      <br>

 

    

      <footer class="final">
        <h3>Banco Alianza</h3>
        <h5><script> document.write(new Date()) </script><h4></h5>
      </footer>
  
      

      

</body>

</html>