<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Alianza</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/actualizarusucli.js"></script>
  <link rel="shortcut icon" href="imagenes/simbolo.PNG">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="css/cliente.css">
</head>

<body background="imagenes/fonformularios.PNG"></body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">
      <img src="imagenes/logo1.PNG" alt="TechNews Logo" class="nav-brand">
      
      
      <div class="logoa">
        <p><%= uss %></p>
          <img src="imagenes/u.jpeg" alt="">
          <button><a href="cerrar">Cerrar sesion</a></button>
      </div>

      
    </nav>
    <hr>

    <br>

    <a href="/vistacli">Click para volver a Menu Principal</a>
                     

 <from action="" name="frm" id="frm">
  <table class="table2">
      <thead>
          <tr>

              <th>USUARIO</th>
              <th>CLAVE</th>
              <th>ACTUALIZAR</th>

          </tr>
      </thead>

      <tbody>
       <% datos.forEach(function (datos){ %>    
          <tr>
              <input type="hidden" value="<%=datos.UsuDoc%>" name="doccli" id="doc" class="doc">
              <td><input type="text" value="<%=datos.UsuNom%>" name="nomusu" id="usu" class="usu"></td>
              <td><input type="text" value="<%=datos.UsuClave%>" name="clave" id="cla" class="cla"></td>
              <td><input type="submit" value="Actualizar" name="btnact" id="btnact" class="btnact"></td>
          </tr>
       <%})%>
      </tbody>
  </table>
</from>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/main.js"></script>

</body>

</html>