<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Alianza</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/actualizarline.js"></script>
  <script src="js/eliminarline.js"></script>
  <link rel="shortcut icon" href="imagenes/simbolo.PNG">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="css/empleado.css">
</head>

<body background="imagenes/fonformularios.PNG"></body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">
      <img src="imagenes/logo1.PNG" alt="TechNews Logo" class="nav-brand">
      <ul class="menu">
        <li>
          <a href="#">Menu Principal-Empleado
          </a>
        </li>
        

      </ul>
      
      
      
      <div class="logoa">
        <p><%= uss %></p>
          <img src="imagenes/u.jpeg" alt="">
          <button><a href="cerrar">Cerrar sesion</a></button>
      </div>

      
    </nav>
    <hr>

    <br>

    <section class="contenedor">

        <div id="cajauno" class="cajas">

            <div class="titulocaja"><a href="/cliem">Clientes</a></div>

        </div>

        <div id="cajauno" class="cajas">

            <div class="titulocaja"><a href="/lineas_creditoem">Lineas de credito</a></div>

        </div>

        <div id="cajauno" class="cajas">

            <div class="titulocaja"><a href="/credito_clienteem">Creditos</a></div>

        </div>

        <div id="cajauno" class="cajas">

          <div class="titulocaja"><a href="/cuenta">Cuentas</a></div>

      </div>

        
        

    </section>

                     

                   

<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/main.js"></script>

</body>

</html>