<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Alianza</title>
    <link rel="shortcut icon" href="imagenes/simbolo.PNG">
    <link rel="stylesheet" href="css/estilovistacliente.css">
</head>
<body background="imagenes/loginfon.PNG"></body>
<div class="inicio">
    <div class="titulo">
        <h1>Bienvenido cliente</h1>
    </div>

    <div class="logom">
        <img src="imagenes/u.jpeg" alt="">
        <button>Cambiar imagen</button>
    </div>
    </div>




    
    <table class="tabla">
      
        <thead>
          <tr>      
            <th colspan="2" scope="rowgroup">Datos personales</th>  
          </tr>
        </thead>
      
        <tbody>
          <tr class="cuadros">
            <td>Documento</td>
            <td>datos</td>
          </tr>

          <tr class="cuadros">
            <td>Nombre</td>
            <td>datos</td>
          </tr>

          <tr class="cuadros">
            <td>Apellido</td>
            <td>datos</td>
          </tr>

          <tr class="cuadros">
            <td>Correo</td>
            <td>datos</td>
          </tr>

          <tr class="cuadros">
            <td>Celular</td>
            <td>datos</td>
          </tr>

          <tr class="cuadros">
            <td>Sexo</td>
            <td>datos</td>
          </tr>

          <tr class="cuadros">
            <td>Fecha de nacimiento</td>
            <td>datos</td>
          </tr>

          <tr >
            <td><input type="submit" value="Actualizar" name="btnact" id="btnact" class="btnact" colspan="2" scope="rowgroup"></td>
          </tr>
        </tbody> 
      </table>



</body>
</html>